---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '../Item.astro'
---

<SectionBlock title="Education">
  <Item
    title="Bachelor of Engineering, Computer Engineering"
    timeDescription="Aug 2016 - Apr 2020"
    description="King Mongkut's University of Technology North Bangkok"
  />
  <p class="text-sm">First Class Honour (CGPA 3.83)</p>
  <p class="text-sm">
    <b>Senior Project:</b> Bias Correction of Multi-Dimensional Climate Data and
    Visualisation
  </p>
</SectionBlock>
