---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '@/components/resume/Item/Item.astro'

import { RESUME } from '@/content/resume.ts'
---

<SectionBlock title="Experience">
  {
    RESUME.experiences.map((experience) => (
      <div>
        <Item
          title={experience.jobTitle}
          timeDescription={experience.time}
          description={experience.company}
        />
        <UnorderedList ulClass="text-sm" items={experience.details} />
      </div>
    ))
  }
</SectionBlock>
