---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '../Item.astro'
---

<div class="print:hidden">
  <SectionBlock title="Now">
    <p class="mt-8 font-mono text-sm text-gray-600">
      Welcome to my resume! I want to use this section to tell you about what I
      am doing now. <br />(Last Updated: 2024-04-14)
    </p>
    <p>
      I am currently interested in Functional Programming and Monad. I enjoy
      drinking Earlgrey tea and specialty cofee.
    </p>
    <p>
      I am also suffering from gastritis, conjunctivitis, de quervain
      tenosynovitis.
    </p>
  </SectionBlock>
</div>
