---
import PrintSectionBlock from '@/components/resume/PrintSectionBlock.astro'

import { RESUME } from '@/content/resume.ts'
const skillCategoryClass = 'mr-1 font-resumesans font-medium'
---

<PrintSectionBlock title="Skills">
  <div class="mb-1 text-sm">
    <text class={skillCategoryClass}>Languages:</text><text
      >{RESUME.skills.languages.join(', ')}</text
    >
  </div>
  <div class="mb-1 text-sm">
    <text class={skillCategoryClass}>Frameworks:</text><text
      >{RESUME.skills.frameworks.join(', ')}</text
    >
  </div>
  <div class="mb-1 text-sm">
    <text class={skillCategoryClass}>Tools:</text><text
      >{RESUME.skills.tools.join(', ')}</text
    >
  </div>
</PrintSectionBlock>
