---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '@/components/resume/Item/Item.astro'
import Divider from '../Divider.astro'

import { RESUME } from '@/content/resume.ts'

const skillCategoryClass = 'mr-1 font-medium'
---

<SectionBlock title="Skills">
  <div>
    {
      RESUME.skills.map((skill) => (
        <div class="mb-1 text-sm">
          <text class={skillCategoryClass}>{skill.category}:</text>
          <text>{skill.details.join(', ')}</text>
        </div>
      ))
    }
  </div>
</SectionBlock>
