---
import SectionBlock from '../SectionBlock.astro'
import UnorderedList from '../UnorderedList.astro'
import Item from '../Item.astro'
---

<SectionBlock title="Skills">
  <div>
    <h2 class="text-lg">Programming Languages and Tools</h2>
    <text class="text-sm"
      ><b>Languages:{' '}</b>Python, Elixir, Haskell, R, SQL, Ruby, Go
    </text>
    <br />
    <text class="text-sm"
      ><b>Frameworks and libraries:{' '}</b>Django, FastAPI, pandas, numpy, pythainlp, gensim, NLTK, streamlit, matplotlib, seaborn, Phoenix, Fiber, Gin
    </text>
    <br />
    <text class="text-sm"
      ><b>Tools:{' '}</b>Git, Docker, uv, Postgres, MongoDB, Airflow, Kafka, Bitbucket Pipelines, Ollama, RAG, MCP, Google Looker Studio, Vector Database (eg Chroma), Digital Ocean
    </text>
  </div>
  <div>
    <h2 class="text-lg">Data Science</h2>
    <UnorderedList
      ulClass="text-sm"
      items={[
        'Data visualisation with matplotlib, seaborn, Google Looker Studio, streamlit',
        'Text network analysis, word cloud',
        'Time series analysis, RFM analysis, cohort analysis, association rule learning',
      ]}
    />
    <h2 class="text-lg">Machine Learning and Deep Learning</h2>
    <UnorderedList
      ulClass="text-sm"
      items={[
        'Achieved TensorFlow Developer Certificate',
        'Trained Speech Emotion Recognition model using LSTM and Transformer',
        'Built a simple RAG/MCP for Jira task summarisation',
      ]}
    />
  </div>
</SectionBlock>
