.nexus {
  --palette-main-darkblue: 0.28 0.0369 259.97;
  --palette-background: 0.1727 0.0161 261.53;
  --palette-foreground: 0.9216 0.0058 308.39;
  --palette-border: 0.28 0.0369 259.97;

  --palette-nexus-purple: 0.5885 0.1542 291.11;
  --palette-nexus-orange: 0.7128 0.1836 36.41;

  --background: var(--palette-background);
  --foreground: var(--palette-foreground);
  --card: var(--palette-background);
  --card-foreground: var(--palette-foreground);
  --popover: var(--palette-background);
  --popover-foreground: var(--palette-foreground);
  --primary: var(--palette-nexus-purple);
  --primary-foreground: var(--palette-foreground);
  --secondary: var(--palette-nexus-orange);
  --secondary-foreground: var(--palette-nexus-purple);
  --muted: var(--palette-main-darkblue);
  --muted-foreground: var(--palette-foreground);
  --accent: var(--palette-nexus-orange);
  --accent-foreground: var(--palette-nexus-purple);
  --destructive: 0.6368 0.2078 25.33;
  --destructive-foreground: var(--palette-foreground);
  --border: var(--palette-border);
  --input: var(--palette-background);
  --ring: 0 0% 22%;
  --radius: 0.5rem;
  --theme-bg: var(--palette-background);
  --theme-link: var(--palette-nexus-purple);
  --theme-text: var(--palette-foreground);
  --theme-accent: var(--palette-nexus-orange);
  --theme-accent-2: var(--palette-nexus-purple);
  --theme-quote: var(--palette-nexus-purple);
}
