.nzk {
  /* colour palette variables */
  /* define base colours here */
  --palette-nzk-blue: 0.3261 0.0984 268.87;
  --palette-nzk-orange: 0.713 0.1834 36.43;

  /* lighter/less saturated version of primary/secondary */
  --palette-nzk-blue-accent: 0.818 0.0418 268.87;

  /* background and text */
  --palette-background-offwhite: 0.977 0.0085 84.57;
  --palette-background-offwhite-darker: 0.967 0.0085 84.57;
  --palette-text-black: 0.3411 0 0;
  --palette-text-black-lighter: 0.2699 0.0096 235.05;
  --palette-border-offwhite: 0.9254 0.0211 88.78;
  --palette-border-offwhite-blue: 0.5838 0.0211 257.6;
  --palette-link-teal: 0.5544 0.0431 185.69;

  /* theme config */
  /* theme component colours - all picked from base colours? */
  --background: var(--palette-background-offwhite);
  --foreground: var(--palette-text-grey);

  --card: var(--palette-background-offwhite-darker);
  --card-foreground: var(--palette-text-black);

  --popover: var(--palette-background-offwhite);
  --popover-foreground: var(--palette-text-black);

  --primary: var(--palette-nzk-blue);
  --primary-foreground: var(--palette-background-offwhite);

  --secondary: var(--palette-nzk-orange);
  --secondary-foreground: var(--palette-background-offwhite);

  --muted: var(--palette-nzk-orange);
  --muted-foreground: var(--palette-background-offwhite);

  --accent: var(--palette-nzk-orange);
  --accent-foreground: var(--palette-text-black);

  --destructive: oklch(0.6368 0.2078 25.33);
  --destructive-foreground: var(--palette-background-offwhite);

  --border: var(--palette-border-offwhite);
  --input: var(--palette-border-offwhite);
  --ring: var(--palette-border-offwhite-blue);

  --radius: 0.5rem;

  /* cactus */
  --theme-bg: var(--palette-background-offwhite);
  --theme-link: var(--palette-link-teal);
  --theme-text: var(--palette-text-black-lighter);
  --theme-accent: var(--palette-nzk-orange);
  --theme-accent-2: var(--palette-nzk-blue);
  --theme-quote: var(--palette-link-teal);
}
