.dark {
  --palette-main-darkblue: 0.28 0.0369 259.97;
  --palette-main-lightblue: 0.8087 0.1067 222.35;
  --palette-accent-green: 0.7091 0.1415 163.79;

  --palette-background-black: 0.0791 0.0178 254.43;
  --palette-text-white: 0.9838 0.0035 247.86;
  --palette-text-white-darker: 0.8354 0.0032 264.54;

  --palette-link-pink: 0.7044 0.1133 349.04;

  --background: var(--palette-background-black);
  --foreground: var(--palette-text-white-darker);
  --card: var(--palette-background-black);
  --card-foreground: var(--palette-text-white);
  --popover: var(--palette-background-black);
  --popover-foreground: var(--palette-text-white);
  --primary: var(--palette-text-white);
  --primary-foreground: var(--palette-background-black);
  --secondary: var(--palette-main-darkblue);
  --secondary-foreground: var(--palette-text-white);
  --muted: var(--palette-main-darkblue);
  --muted-foreground: var(--palette-text-white);
  --accent: var(--palette-accent-green);
  --accent-foreground: var(--palette-text-white);
  --destructive: 0.3959 0.1331 25.72;
  --destructive-foreground: var(--palette-text-white);
  --border: var(--palette-main-darkblue);
  --input: var(--palette-main-darkblue);
  --ring: var(--palette-text-white);
  --theme-bg: var(--palette-background-black);
  --theme-link: var(--palette-link-pink);
  --theme-text: var(--palette-text-white-darker);
  --theme-accent: var(--palette-accent-green);
  --theme-accent-2: var(--palette-main-lightblue);
  --theme-quote: 0.948 0.1067 136.49;
}
