  .nzk {
    /* colour palette variables */
    /* define base colours here */
    --palette-background: 40 47.4% 96.3%;
    --palette-foreground: 0 0% 22%;
    --palette-primary: 227.1 52.2% 26.3%;

    /* theme config */
    /* theme component colours - all picked from base colours? */
    --background: var(--palette-background);
    --foreground: var(--palette-foreground);

    --card: var(--palette-background);
    --card-foreground: var(--palette-foreground);

    --popover: var(--palette-background);
    --popover-foreground: var(--palette-foreground);

    --primary: var(--palette-primary);
    --primary-foreground: 210 40% 98%;

    --secondary: 13.1 100% 64.1%;
    --secondary-foreground: var(--palette-primary);

    --muted: 13.1 100% 64.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 13.1 100% 64.1%;
    --accent-foreground: var(--palette-primary);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 42.9 35.6% 88.4%;
    --input: 42.9 35.6% 88.4%;
    --ring: 0 0% 22%;

    --radius: 0.5rem;

    /* cactus */
    --theme-bg: 0deg 0% 98%;
    --theme-link: 172deg 18% 41%;
    --theme-text: 203deg 11% 15%;
    --theme-accent: 13.1 100% 64.1%;
    --theme-accent-2: 227.1 52.2% 26.3%;
    --theme-quote: 253.1deg 80% 64.1%;
  }
