---
import '@/styles/global.css'

export async function getStaticPaths() {
  return [
    { params: { path: 'astro-og' } },

    // og image for post
    { params: { path: '/posts/obsidian-flavoured-markdown' } },
  ]
}

const { path } = Astro.props

console.log('path name', Astro.url.pathname)
---

<div class="social-card">
  <div class="social-card__wrapper">
    <h1>OpenGraph</h1>
    <h2>path name = <code>`{Astro.url.pathname}`</code></h2>
  </div>
</div>

<style>
  .social-card {
    display: flex;
    width: 1200px; /* Match the width of screenshot request via Urlbox */
    height: 630px; /* Match the height of screenshot request via Urlbox */
    max-width: 1200px;
    max-height: 630px;
    font-family: 'DM Serif Display';
    background-color: var(--color-blue-300);
    color: var(--color-light);
  }

  .social-card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 1;
    max-width: 30ch;
  }
</style>
