---
interface Props {
  title: string
  timeDescription: string
  description: string
  url: string
}

const { title, timeDescription, description, url } = Astro.props

const descriptionMarginRight = timeDescription ? 'mr-2' : ''
---

<div class="flex items-center">
  <div class="text-md flex-shrink-0 font-bold">
    {title}
  </div>

  <div class="mx-2 flex-shrink-0 text-right text-sm">
    {description && <span class={descriptionMarginRight}>{description}</span>}
    {timeDescription && <span>({timeDescription})</span>}
  </div>

  <!-- separator -->
  <div class="mx-1 flex flex-1 items-center">
    <div class="h-px w-full bg-gray-200"></div>
  </div>
</div>
