---
interface Props {
  ulClass: string
  items: string[]
}

const { ulClass, items } = Astro.props
---

<div>
  <ul class={`text-sm mt-1 mb-1 pl-3 ${ulClass} marker:text-gray-500`}>
    {
      items.map((item, index) => (
        <li class="mb-0 mt-0 font-resumesans text-sm">{item}</li>
      ))
    }
  </ul>
</div>
