---
interface Props {
  ulClass: string
  items: string[]
}

const { ulClass, items } = Astro.props
---

<div>
  <ul class={`text-sm mt-1 mb-1 ${ulClass} marker:text-gray-300`}>
    {
      items.map((item, index) => (
        <li class="mb-0 mt-0 text-sm font-resumesans">{item}</li>
      ))
    }
  </ul>
</div>
