---
// this component represent a single item in the resume section
// for example, a job or a project

interface Props {
  title: string
  timeDescription: string
  description: string
  url: string
}

const { title, timeDescription, description, url } = Astro.props
---

<div class="flex items-center">
  <!-- title -->
  <div class="text-md flex-shrink-0 font-bold">
    {title}
  </div>

  <!-- detail -->
  {
    (timeDescription || description || url) && (
      <div>
        <div class="ml-2 flex-shrink-0 border-l text-right text-sm">
          {description && <text class="ml-2 text-gray-500">{description}</text>}
          {timeDescription && (
            <text class="ml-2 text-gray-500">{timeDescription}</text>
          )}
        </div>
      </div>
    )
  }

  <!-- separator -->
  <div class="ml-4 flex flex-1 items-center">
    <div class="h-px w-full bg-gray-200"></div>
  </div>
</div>
