---
interface Props {
  title: string
  timeDescription: string
  description: string
  url: string
}

const { title, timeDescription, description, url } = Astro.props

const descriptionMarginRight = timeDescription ? 'mr-2' : ''
---

<div class="border-b">
  <div class="grid grid-cols-5">
    <div class="text-md col-span-3">
      <text class="font-bold">{title}</text>
    </div>

    <div class="col-span-2 text-right">
      {
        description && (
          <text class={`text-sm ${descriptionMarginRight}`}>{description}</text>
        )
      }
      {timeDescription && <text class="text-sm">({timeDescription})</text>}
    </div>
  </div>
</div>
