---
import ListItem from './ListItem.astro'

interface Props {
  items: string[]
  ulClass?: string
  variant?: 'web' | 'print'
}

const { items, ulClass = '', variant = 'web' } = Astro.props
---

{
  variant === 'print' ? (
    <div>
      <ul class={`mb-1 mt-1 pl-3 text-sm ${ulClass} marker:text-gray-500`}>
        {items.map((item) => (
          <li class="mb-0 mt-0 font-resumesans text-sm">{item}</li>
        ))}
      </ul>
    </div>
  ) : (
    <div>
      <ul class={`${ulClass} my-2`}>
        {items.map((item) => (
          <ListItem>{item}</ListItem>
        ))}
      </ul>
    </div>
  )
}
