---
import ListItem from './ListItem.astro'

interface Props {
  ulClass: string
  items: string[]
}

const { ulClass, items } = Astro.props
---

<div class="">
  <ul class={`${ulClass} my-2`}>
    {items.map((item, index) => <ListItem>{item}</ListItem>)}
  </ul>
</div>
