---
interface Props {
  cssValue: string
  name: string
}

const { cssValue, name } = Astro.props
---

<div class="flex items-center gap-1.5 sm:flex-col">
  <!-- colour box -->
  <div
    class="size-20 flex-shrink-0 rounded-md ring-1 ring-black/10 dark:ring-white/10"
    style={`background-color: ${cssValue}`}
  >
  </div>

  <!-- colour name -->
  <p class="text-center font-mono text-xs text-gray-600 dark:text-gray-400">
    {name}
  </p>
</div>
