---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { BentoDemo } from '@/components/bento/bento'

import ListItem from '@/components/resume/ListItem.astro'
import Item from '@/components/resume/Item.astro'
import SectionBlock from '@/components/resume/SectionBlock.astro'

const detailClasses = 'prose prose-cactus relative border p-4 md:block'
const textGrayClasses = 'text-gray-500 dark:text-gray-500'
---

<BaseLayout title="ALTR's Resume" description="">
  <div class="">
    <!-- resume layout -->
    <div
      class="mx-auto grid max-w-[120ch] grid-cols-1 gap-2 p-2 md:grid-cols-2"
    >
      <!-- header: name and summary -->
      <div class="md:col-span-2" name="header-summary">
        <div class="relative border p-4">
          <div class="md:flex">
            <div>
              <h1 class="text-4xl font-bold">Phattharanat Khunakornophat</h1>
              <p class=`${textGrayClasses} text-xl`>Data Scientist</p>
            </div>
          </div>
          <div class="mt-4 md:flex">
            <div name="summary">
              <p>
                I have a year of experience as a Data Scientist and Machine
                Learning Engineer. Most of my tasks are about providing analyses
                to support a strategy team. I gained experience in the field of
                spatiotemporal data and time series analysis whilst working on
                my senior project.
              </p>
              <!-- <p>
                I am keen on learning to create good data visualisation. I
                admire John Burn-Murdoch and David Spiegelhalter for their
                works. I have a goal to create high-quality analysis and
                visualisation that are comprehensible for non-chart people. In
                my free time, I enjoy watching videos from the Royal Institution
                to expanding my knowledge and practising English.
              </p> -->
            </div>
            <div
              class="mt-4 w-full max-w-[400px] md:mt-0 md:pl-8 md:text-right"
              name="contact-info"
            >
              <p>
                Github:
                <a
                  href="https://github.com/chuan-khuna"
                  target="_blank"
                  rel="noreferrer"
                  class="font-medium underline"
                >
                  chuan-khuna
                </a>
              </p>
              <p>Email: k.phattharanat@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <!-- detail -->
      <div class="space-y-2 md:block" name="detail-left">
        <SectionBlock title="Experience">
          <div>
            <Item
              title="Data Scientist"
              timeDescription="Jul 2022 - Present"
              description="The Mather"
            />
            <ul class="text-sm">
              <ListItem>
                Provide data analysis and visualisation for a strategy team
              </ListItem>
              <ListItem>
                Implement data scraper for social media platforms including
                Pantip (Thailand discussion forum), Twitter, YouTube and TikTok
              </ListItem>
              <ListItem>
                Analyse point of sale data: RFM analysis, cohort analysis and
                association rule learning
              </ListItem>
              <ListItem>
                Train a Thai Speech Emotion Recognition model using Transformer
                architecture, achieve 60% validation accuracy with five classes
                data
              </ListItem>
              <ListItem>
                Extract and process data from JSON responses to create PDF
                reports using Weasyprint
              </ListItem>
              <ListItem>
                Conduct research and execute a POC project centred in analysis
                and visualisation of real-time people detection data including
                face detection, face recognition, direction flow, utilising
                technologies such as Kafka, Flask, NextJS, Weaviate, Chroma
              </ListItem>
              <ListItem>
                Refactor and set the standard for Django projects to enhance
                maintainability and reusability
              </ListItem>
              <ListItem>
                Implement basic Bitbucket Pipelines to automate the deployment
                to an internal testing server, eliminating the need of manual
                tasks
              </ListItem>
            </ul>
          </div>
        </SectionBlock>
        <SectionBlock title="Projects">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum
            posuere lorem ipsum dolor sit amet consectetur.
          </p>
        </SectionBlock>
      </div>
      <div class="space-y-2 md:block" name="detail-right">
        <SectionBlock title="Skills">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Interdum
            posuere lorem ipsum dolor sit amet consectetur. Augue mauris augue
            neque gravida in fermentum et sollicitudin. Amet nisl purus in
            mollis nunc sed. Dis parturient montes nascetur ridiculus mus mauris
            vitae. Dapibus ultrices in iaculis nunc. Et malesuada fames ac
            turpis egestas maecenas pharetra convallis posuere. Nam libero justo
            laoreet sit. Aenean sed adipiscing diam donec adipiscing tristique
            risus nec feugiat. Ac tincidunt vitae semper quis lectus nulla at
            volutpat diam. Dolor sit amet consectetur adipiscing elit ut aliquam
            purus sit. Interdum varius sit amet mattis vulputate. Commodo nulla
            facilisi nullam vehicula. Pharetra et ultrices neque ornare aenean
            euismod elementum nisi. Vitae tempus quam pellentesque nec nam
            aliquam sem et tortor.
          </p>
        </SectionBlock>
        <SectionBlock title="Education">
          <Item
            title="Bachelor of Engineering, Computer Engineering"
            timeDescription="Aug 2016 - Apr 2020"
            description="King Mongkut's University of Technology North Bangkok"
          />
          <p>First Class Honour (3.83)</p>
          <p>
            Senior Project: Bias Correction of Multi-Dimensional Climate Data
            and Visualisation
          </p>
        </SectionBlock>
      </div>
    </div>
  </div>
</BaseLayout>
