---
import BaseLayoutPrint from '@/layouts/BaseLayoutPrint.astro'
import { BentoDemo } from '@/components/bento/bento'

import Item from '@/components/resume/Item.astro'
import ListItem from '@/components/resume/ListItem.astro'
import SectionBlock from '@/components/resume/SectionBlock.astro'
import UnorderedList from '@/components/resume/UnorderedList.astro'

// section
import Experiences from '@/components/resume/sections/Experiences.astro'
import Projects from '@/components/resume/sections/Projects.astro'
import Activity from '@/components/resume/sections/Activity.astro'
import Skills from '@/components/resume/sections/Skills.astro'
import Education from '@/components/resume/sections/Education.astro'
import Interests from '@/components/resume/sections/Interests.astro'
import Now from '@/components/resume/sections/Now.astro'

const textGrayClasses = 'text-gray-500 dark:text-gray-500'
---

<BaseLayoutPrint title="ALTR's Resume" description="">
  <div class="">
    <!-- resume layout -->
    <div
      class="mx-auto grid max-w-[1200px] grid-cols-1 gap-2 p-2 md:grid-cols-2"
    >
      <!-- header: name and summary -->
      <div class="md:col-span-2" name="header-summary">
        <div class="relative border p-4">
          <div class="md:flex">
            <div>
              <h1 class="text-4xl font-bold">Phattharanat Khunakornophat</h1>
              <p class=`${textGrayClasses} text-xl`>Data Scientist</p>
            </div>
          </div>
          <div class="mt-4 md:flex">
            <div name="summary">
              <p>
                A data scientist who suffers from recurrence of diseases. Created a dashboard for tracking hospitalisation expense. Visualised data from Jira and hospitalisation history to figure out what causes gastritis.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- detail -->
      <div class="block space-y-2" name="detail-left">
        <SectionBlock title="Gastritis">
          Oct 2023 - Present
          <UnorderedList items={[
            "1st - 19 Oct 2023",
            "2nd - 11 Nov 2023",
            "3rd - 13 Jan 2024 I decided to undergo an EGD since I had been suffering from a gastritis for months.",
            "4th - 15 May 2024"
          ]}>
          </UnorderedList>
        </SectionBlock>
        <SectionBlock title="De Quervain's Tenosynovitis">
          Feb 2024
          Upgraded from Nuphy Air 75v2 to ZSA Moonlander can reduce the occurrence.
        </SectionBlock>
      </div>
      <div class="block space-y-2" name="detail-right">
        <SectionBlock title="Conjunctivits">
          Nov 2023 - Present
          <UnorderedList items={[
            '1st - 03 Dec 2023, R',
            '2nd - 10 Jan 2024, R',
            '3rd - 02 Apr 2024, L']}>
          </UnorderedList>
        </SectionBlock>
        <SectionBlock title="Rosacea">
          Apr 2024 - Present
        </SectionBlock>
        <Now />
      </div>
    </div>
  </div>
</BaseLayoutPrint>
