---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { BentoDemo } from '@/components/bento/bento'
---

<BaseLayout title="ALTR's Resume" description="">
  <div class="container font-mono">
    <!-- resume layout -->
    <div class="max-w-8xl mx-auto grid grid-cols-1 gap-8 p-4 md:grid-cols-2">
      <!-- header: name and summary -->
      <div class="md:col-span-2">
        <div class="md:flex">
          <div>
            <h1 class="text-4xl font-bold">Phattharanat Khunakornophat</h1>
            <p class="text-xl">Data Scientist</p>
          </div>
        </div>
        <div class="mt-4 md:flex">
          <div name="summary">
            <p>
              I have a year of experience as a Data Scientist and Machine
              Learning Engineer. Most of my tasks are about providing analyses
              to support a strategy team. I gained experience in the field of
              spatiotemporal data and time series analysis whilst working on my
              senior project.
            </p>
            <p>
              I am keen on learning to create good data visualisation. I admire
              John Burn-Murdoch and David Spiegelhalter for their works. I have
              a goal to create high-quality analysis and visualisation that are
              comprehensible for non-chart people. In my free time, I enjoy
              watching videos from the Royal Institution to expanding my
              knowledge and practising English.
            </p>
          </div>
          <div
            class="mt-4 w-full max-w-[480px] md:mt-0 md:pl-8 md:text-right"
            name="contact-info"
          >
            <p>
              Github:
              <a
                href="https://github.com/chuan-khuna"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline"
              >
                chuan-khuna
              </a>
            </p>
            <p>email: k.phattharanat@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
