---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Card from '@/components/bento/card.astro'

// portfolio sections
import { PORTFOLIO } from '@/content/portfolio.ts'
import IntroCard from '@/components/bento/portfolio-bento/IntroCard.astro'
import AboutMe from '@/components/bento/portfolio-bento/AboutMe.astro'
import Lorem from '@/components/bento/portfolio-bento/Lorem.astro'
import LoremSm from '@/components/bento/portfolio-bento/LoremSm.astro'
import TimeZoneCard from '@/components/bento/portfolio-bento/TimeZoneCard.astro'
---

<BaseLayout title="ALTR" description="">
  <main
    class="relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 sm:gap-2 sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:grid-cols-12 lg:gap-4"
  >
    <Card
      colSpan="lg:col-span-9 md:col-span-2"
      rowSpan="md:row-span-1 lg:row-span-4"
    >
      <IntroCard />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-3 lg:row-span-6"
      title="About me"
    >
      <AboutMe />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-3 lg:row-span-4"
      title="Projects"
    >
      <Lorem />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-2"
      title="Your time"
    >
      <TimeZoneCard />
    </Card>

    <Card
      colSpan="lg:col-span-3 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-2"
      title="My time"
    >
      <TimeZoneCard timezone={PORTFOLIO.timezone} />
    </Card>

    <Card
      colSpan="lg:col-span-4 md:col-span-1"
      rowSpan="md:row-span-1 lg:row-span-2"
    >
      <div class="flex h-full flex-col justify-between">
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          "Data Visualisation is an act of communication with a mass audience."
          -- John Burn-Murdoch
        </blockquote>

        <blockquote class="mt-6 border-l-2 pl-6 italic">
          "You don't have to get a reward every time you act but your reward
          might be delayed [...]" -- Alexander Amini (MIT Reinforcement
          Learning, 2020, 6:41)
        </blockquote>
      </div>
    </Card>

    <Card
      colSpan="md:col-span-1 lg:col-span-5"
      rowSpan="md:row-span-2 lg:row-span-2"
      title="Education and Certificates"
    >
      <LoremSm />
    </Card>
  </main>
</BaseLayout>
