---
import BaseLayoutPrint from '@/layouts/BaseLayoutPrint.astro'

// section
import { PORTFOLIO } from '@/content/portfolio.ts'
import Experiences from '@/components/resume/sections/Experiences.astro'
import Projects from '@/components/resume/sections/Projects.astro'
import Activity from '@/components/resume/sections/Activity.astro'
import Skills from '@/components/resume/sections/Skills.astro'
import Education from '@/components/resume/sections/Education.astro'
import Interests from '@/components/resume/sections/Interests.astro'
import Now from '@/components/resume/sections/Now.astro'

const textGrayClasses = 'text-gray-500 dark:text-gray-500'
---

<BaseLayoutPrint title="ALTR's Resume" description="">
  <div class="">
    <!-- resume layout -->
    <div
      class="mx-auto grid max-w-[1200px] grid-cols-1 gap-2 p-2 md:grid-cols-2"
    >
      <!-- header: name and summary -->
      <div class="md:col-span-2" name="header-summary">
        <div class="relative border p-4">
          <div class="md:flex">
            <div>
              <h1 class="text-4xl font-bold">Phattharanat Khunakornophat</h1>
              <p class=`${textGrayClasses} text-xl`>Data Scientist/Developer</p>
            </div>
          </div>
          <div class="mt-4 md:flex">
            <div name="summary">
              <p>
                I three years of experience as a Data Scientist and Developer.
                Most of my tasks are about providing analyses to support a
                strategy team. I gained experience in the field of
                spatiotemporal data and time series analysis whilst working on
                my senior project.
              </p>
            </div>
            <div
              class="mt-4 w-full max-w-[400px] md:mt-0 md:pl-8 md:text-right"
              name="contact-info"
            >
              <p>
                <b>Github</b>:
                <a
                  href={PORTFOLIO.links.github}
                  target="_blank"
                  rel="noreferrer"
                  class="font-medium underline"
                >
                  chuan-khuna
                </a>
              </p>
              <p><b>Email</b>: k.phattharanat@gmail.com</p>
              <p><b>Address</b>: Chonburi/Bangkok, Thailand</p>
            </div>
          </div>
        </div>
      </div>
      <!-- detail -->
      <div class="block space-y-2" name="detail-left">
        <Experiences />
        <Projects />
        <Activity />
      </div>
      <div class="block space-y-2" name="detail-right">
        <Skills />
        <Education />
        <Interests />
        <Now />
      </div>
    </div>
  </div>
</BaseLayoutPrint>
