---
import BaseLayoutPrint from '@/layouts/BaseLayoutPrint.astro'

// section
import PageLayout from '@/components/resume/layout/PageLayout.astro'
import Content from '@/components/resume/layout/Content.astro'

import PrintHeader from '@/components/resume/sections/print/Header.astro'
import PrintExperiences from '@/components/resume/sections/print/Experiences.astro'
import PrintSkills from '@/components/resume/sections/print/Skills.astro'
import PrintProjects from '@/components/resume/sections/print/Projects.astro'
import PrintEducation from '@/components/resume/sections/print/Education.astro'
import PrintInterests from '@/components/resume/sections/print/Interests.astro'
import PrintActivity from '@/components/resume/sections/print/Activity.astro'
---

<BaseLayoutPrint title="ALTR's Resume" description="">
  <div class="flex min-h-screen flex-col justify-center">
    <PageLayout className="font-resumesans print:px-8 print:py-4">
      <Content
        className="mx-auto grid max-w-[1200px] grid-cols-1 gap-4 md:grid-cols-2 print:grid-cols-7"
      >
        <div class="md:col-span-2 print:col-span-7">
          <PrintHeader />
        </div>

        <div
          class="block space-y-2 print:col-span-2 print:block print:space-y-1"
        >
          <PrintSkills />
          <PrintActivity />
          <PrintInterests />
        </div>

        <div
          class="block space-y-2 print:col-span-5 print:block print:space-y-1"
        >
          <PrintExperiences />
          <PrintProjects />
          <PrintEducation />
        </div>
      </Content>
    </PageLayout>
  </div>
</BaseLayoutPrint>
