---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Color from '@/components/styleguide/color.astro'
---

<BaseLayout title="ALTR" description="">
  <main
    class="not-prose grid grid-cols-[auto_minmax(0,_1fr)] items-center gap-4"
  >
    <!-- colour group container -->
    <div
      class="not-prose flex justify-center overflow-auto rounded-lg bg-white p-8 outline outline-white/5 dark:bg-gray-950/50"
    >
      <!-- colour row -->
      <div
        class="*:*:first:inset-ring *:*:first:inset-ring-black/5 mx-auto inline-grid max-w-lg grid-cols-1 justify-center gap-3 *:*:first:size-9 *:*:first:rounded-md sm:grid-cols-11 sm:flex-row sm:*:*:first:aspect-square sm:*:*:first:w-full"
      >
        <Color cssValue="hsl(var(--accent))" name="accent" />
        <Color cssValue="hsl(var(--primary))" name="primary" />
      </div>
    </div>
  </main>
</BaseLayout>
