---
import { Github } from 'lucide-react'
import { Button } from '@/components/ui/button'
import { PORTFOLIO } from '@/content/portfolio.ts'
---

<div class="animate-appear flex h-full w-full">
  <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
    <div class="flex h-full flex-col">
      <p class="m-0 text-xl font-light">
        Hi, I'm
        <b class="font-bold">{PORTFOLIO.firstName}</b>.
      </p>
      <ul class="pt-4">
        {
          PORTFOLIO.shortIntros.map((intro, _index) => (
            <>
              <li>{intro}</li>
            </>
          ))
        }
      </ul>
    </div>
    <div class="flex gap-4">
      <a
        href={PORTFOLIO.links.github}
        aria-label="github profile"
        target="_blank"
      >
        <Button aria-label="github profile" variant="ghost">
          <Github />
          <span class="sr-only">GitHub Profile</span>
        </Button>
      </a>
    </div>
  </div>
</div>
