---
// 邱 汉漢 川
const logoText: string = '川'
---

<span class="logo">{logoText}</span>

<style>
  .logo {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    user-select: none;
  }
</style>
