---
// 邱 汉漢 川
// const logoText: string = '川'
const logoText: string = 'altr'

---

<span class="logo">{logoText}</span>

<style>
  .logo {
    /*font-family: var(--font-zhi-mang-xing);*/
    font-family: var(--font-montez);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    user-select: none;
  }
</style>
