---
import '@/styles/global.css'
import NavDesktop from '@/components/NavDesktop.astro'
import NavMobile from '@/components/NavMobile.astro'

const blurryFullNav =
  'sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60'
---

<header class={`${blurryFullNav} print:hidden`}>
  <div
    class="container flex h-16 items-center space-x-4 sm:justify-between sm:space-x-0 print:hidden"
  >
    <NavDesktop />
    <NavMobile />
  </div>
</header>