---
import SectionBlock from '@/components/resume/SectionBlock.astro'
import { getCollection } from 'astro:content'

const skills = await getCollection('resumeSkills')

const skillCategoryClass = 'mr-1 font-medium'
---

<SectionBlock title="Skills">
  <div>
    {
      skills.map((skill) => (
        <div class="mb-1 text-sm">
          <text class={skillCategoryClass}>{skill.data.category}:</text>
          <text>{skill.data.details.join(', ')}</text>
        </div>
      ))
    }
  </div>
</SectionBlock>
