---
const { frontmatter } = Astro.props
---

<header>
  <div class="mb-4">
    <text class="font-serif text-4xl font-bold">
      {frontmatter.title}
    </text>
  </div>
  {
    frontmatter.description && (
      <div>
        <p class="text-cactus-text-secondary text-md">
          {frontmatter.description}
        </p>
      </div>
    )
  }
  <div
    class="text-cactus-text-muted my-2 flex flex-wrap items-center gap-x-3 gap-y-1 text-sm"
  >
    {
      frontmatter.date && (
        <time datetime={frontmatter.date}>
          {new Date(frontmatter.date).toLocaleDateString('en-UK', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })}
        </time>
      )
    }
    {
      frontmatter.updated && (
        <>
          <span class="hidden sm:inline">/</span>
          <span class="w-full sm:w-auto">
            Updated:{' '}
            {new Date(frontmatter.updated).toLocaleDateString('en-UK', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })}
          </span>
        </>
      )
    }
  </div>
  {
    frontmatter.tags && frontmatter.tags.length > 0 && (
      <div class="my-2 flex flex-wrap items-center gap-2 text-sm">
        {frontmatter.tags.map((tag: string) => (
          <button class="border-l-2 border-t-2 border-cactus-accent px-2 py-1 font-mono font-bold transition-all hover:border-2 hover:shadow-[3px_3px_0px_0px_oklch(var(--theme-accent))]">
            #{tag}
          </button>
        ))}
      </div>
    )
  }
  <hr class="my-2 border-dashed border-foreground opacity-30" />
</header>
