---
import PrintSectionBlock from '@/components/resume/PrintSectionBlock.astro'
import { getCollection } from 'astro:content'

interface Props {
  separator?: string
}

// const { separator = ' · ' } = Astro.props
const { separator = ', ' } = Astro.props

const skills = await getCollection('resumeSkills')
const skillCategoryClass = 'mr-1 font-resumesans font-medium'
---

<PrintSectionBlock title="Skills">
  {
    skills.map((skill) => (
      <div class="mb-1 text-sm">
        <text class={skillCategoryClass}>{skill.data.category}:</text>
        <text>{skill.data.details.join(separator)}</text>
      </div>
    ))
  }
</PrintSectionBlock>
