---
import type { GetStaticPaths } from 'astro'
import HeadSEO from '@/components/seo/HeadSEO.astro'
import Footer from '@/components/Footer.astro'
import Nav from '@/components/Nav.astro'
import '@/styles/global.css'
interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, ogImage } = Astro.props

// console.log('BaseLayout - canonicalURL', canonicalURL.toString())
// console.log('BaseLayout - Astro.site', Astro.site.toString())
// console.log('BaseLayout - title', title)
// console.log('BaseLayout - description', description)
// console.log('BaseLayout - ogImage', ogImage)
---

<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <!-- katex style sheet -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Nav />
      <main class="flex-auto">
        <!-- global container -->
        <section
          id="main-content-section"
          class="container grid items-center gap-6 px-2 pb-8 pt-6 md:py-10"
        >
          <slot />
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
