---
import '@/styles/global.css'

import BaseLayout from './BaseLayout.astro'
import { BackReferenceSection } from '@/components/post/back-reference.tsx'

const { frontmatter, incomingNotes, rootURL } = Astro.props
// incomingNotes: an array of note objects from Astro getCollection()
// to access frontmatter of a note, use note.data
---

<BaseLayout title={frontmatter.title}>
  <!-- content container -->
  <div class="container max-w-[100ch]">
    <div
      class="prose-cactus prose mt-12 max-w-[80ch] prose-headings:font-semibold prose-headings:text-cactus-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-cactus-accent prose-headings:before:content-['#'] prose-th:before:content-none"
    >
      <slot />
    </div>
    <BackReferenceSection
      incomingReferences={incomingNotes}
      rootURL={rootURL}
    />
  </div>
</BaseLayout>
