---
import BaseLayout from './BaseLayout.astro'
const { frontmatter, incomingNotes } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <!-- content container -->
  <div class="container max-w-[100ch]">
    <div
      class="prose prose-sm prose-cactus mt-12 prose-headings:font-semibold prose-headings:text-cactus-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-cactus-accent prose-headings:before:content-['#'] prose-th:before:content-none"
    >
      <slot />
    </div>
    {
      incomingNotes.length > 0 && (
        <div class="mt-12">
          <h2 class="text-2xl font-semibold">Incoming Notes</h2>
          <ul class="mt-4">
            {incomingNotes.map((note) => (
              <li class="mb-4">
                <a href={`/posts/${note.slug}`} class="text-cactus-accent hover:underline">
                  {note.data.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      )
    }
  </div>
</BaseLayout>
