---
import BaseLayout from './BaseLayout.astro'
import { BackReferenceSection } from '@/components/back-reference/backref.tsx'

const { frontmatter, incomingNotes, rootURL } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <!-- content container -->
  <div class="container max-w-[100ch]">
    <div
      class="prose prose-sm prose-cactus mt-12 prose-headings:font-semibold prose-headings:text-cactus-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-cactus-accent prose-headings:before:content-['#'] prose-th:before:content-none"
    >
      <slot />
    </div>
    <BackReferenceSection
      incomingReferences={incomingNotes}
      rootURL={rootURL}
    />
  </div>
</BaseLayout>
